#dynAddTravelForm {
	max-width: 300px;
}

#dynAddTravelForm > form {
	margin-top: 10px;
}

#dynAddTravelForm > form > input, select {
	margin-bottom: 10px;
}

.block {
	display: block;
}

textarea[name=description]{
    resize: none;
    width: 300px;
    height: 80px;
	background-color: #AEC3B0;
}

#travels {
    margin-top: 10px;
	border: 1px solid #01161e;
	background-color: #AEC3B0;
	border-spacing: 0px;
}

th > i {
	left: 0;
}

th, td {
	padding: 5px;
	border: 1px solid #01161e;
}

.order {
	cursor: pointer;
}